<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app1">
        <!-- Chamada de funções -->
        {{ somar() }}
        {{ subtrair() }}
        {{ dividir() }}
        {{ multiplicar() }}
        <hr>
        <!-- v-bind e v-on -->
        <a :href="site[0]" v-bind:target="site[1]">Site contato</a>
        <input type="text" v-on:keyup="imprime('enviando parametro!')" :placeholder="1 == 1 ? place[0] : place[1]">
        <button v-on:click="popUp()">Clique aqui</button>
        <button @click="popUp($event)">Forma abreviada com @</button>
        <hr>
        <!-- Modificadores de eventos -->
        Modificadores de eventos
        <a @click.prevent.once="aoClicar($event)" href="www.google.com" target="blank" >
            clique aqui!
        </a> <br>
        Quantidades de cliques: {{ cliques }}
        <hr>

        <input @keyup="capturaTeclas($event)" type="text"> <br>
        Texto digitado: {{ textoDigitado }}
    </div>
 
    <br><hr><br>

    <div id="app2">
        <!-- Selecionando filhos da instância de um elemento -->
        <select id="selectChoice">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        <button @click="selecionarFilhoDeInstancia()"> Clique para imprimir </button> 
        <hr>
        <!-- V-if condição -->
        V-if <br>
        <input type="checkbox" id="checkboxel">
        <button @click="exibirSaldo()"> Exibir saldo </button> <br>
        Saldo: R$ <span v-if="exibir">{{ saldo }}</span> <br>
        <hr>

        Outra forma: 
        <button @click="exibir = !exibir">
            <span v-if="exibir"> Ocultar saldo </span>
            <span v-if="!exibir"> Mostrar saldo </span>
        </button> <br>
        Saldo: R$ <span v-if="exibir">{{ saldo }}</span> <br>
        <hr>

        <!-- v-else e v-if, ou v-else-if -->
        idade: <input id="idade" type="text" v-on:blur="setIdade()"> <br>
        <p v-if="idade <= 17"> Ainda  não tem 18 anos. </p>
        <p v-else-if="idade >=60"> É um senhor de idade. </p>
        <p v-else> Já é maior de idade! </p>
    </div>

    <script>
        new Vue({
            el: '#app2',
            data: {
                saldo: 100.0,
                exibir: false,
                idade: 0
            },
            methods: {
                setIdade: function() {
                    this.idade = idade.value
                },
                exibirSaldo: function() {
                    this.exibir = checkboxel.checked
                },
                selecionarFilhoDeInstancia: function() {
                    console.log(selectChoice)
                }
            }
        })


        new Vue({
            el: '#app1',
            data: { 
                n1: 10,
                n2: 5,
                site: ['https://google.com', 'blank'],
                place: ['condição 1', 'condição 2'],
                check: true,
                cliques: 0,
                textoDigitado: ''
            },
            methods: {
                capturaTeclas: function(event) {
                    this.textoDigitado += event.key
                },
                aoClicar: function(event) {
                    //event.preventDefault()
                    this.cliques++
                },
                imprime:  function(text) {
                    console.log('digitado', text)
                },
                popUp: function(event) {
                    alert('você clicou!')
                    console.log(event)
                },
                somar: function somar() {
                    return this.n1 + this.n2
                },
                subtrair: function() {
                    return this.n1 - this.n2
                },
                dividir: () => {
                    return this.n1 / this.n2 //NaN por contexto léxico
                },
                multiplicar() {
                    return this.n1 * this.n2
                }
            }
        });
    </script>
</body>
</html>