<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app1">
        <!-- Chamada de funções -->
        {{ somar() }}
        {{ subtrair() }}
        {{ dividir() }}
        {{ multiplicar() }}
        <hr>
        <!-- v-bind (binding de atributos) e v-on (binding de eventos)-->
        <a :href="site[0]" v-bind:target="site[1]">Site contato</a>
        <input type="text" v-on:keyup="imprime('enviando parametro!')" :placeholder="1 == 1 ? place[0] : place[1]">
        <button v-on:click="popUp()">Clique aqui</button>
        <button @click="popUp($event)">Forma abreviada com @</button>
        <hr>
        <!-- Modificadores de eventos -->
        Modificadores de eventos
        <a @click.prevent.once="aoClicar($event)" href="www.google.com" target="blank" >
            clique aqui!
        </a> <br>
        Quantidades de cliques: {{ cliques }}
        <hr>

        <input @keyup="capturaTeclas($event)" type="text"> <br>
        Texto digitado: {{ textoDigitado }}
    </div>
 
    <br><hr><br>

    <div id="app2">
        <!-- Selecionando filhos da instância de um elemento -->
        <select id="selectChoice">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        <button @click="selecionarFilhoDeInstancia()"> Clique para imprimir </button> 
        <hr>
        <!-- V-if condição -->
        V-if <br>
        <input type="checkbox" id="checkboxel">
        <button @click="exibirSaldo()"> Exibir saldo </button> <br>
        Saldo: R$ <span v-if="exibir">{{ saldo }}</span> <br>
        <hr>

        Outra forma: 
        <button @click="exibir = !exibir">
            <span v-if="exibir"> Ocultar saldo </span>
            <span v-if="!exibir"> Mostrar saldo </span>
        </button> <br>
        Saldo: R$ <span v-if="exibir">{{ saldo }}</span> <br>
        <hr>

        <!-- v-else e v-if, ou v-else-if -->
        idade: <input id="idade" type="text" v-on:blur="setIdade()"> <br>
        <p v-if="idade <= 17"> Ainda  não tem 18 anos. </p>
        <p v-else-if="idade >=60"> É um senhor de idade. </p>
        <p v-else> Já é maior de idade! </p>
        <hr>

        <!-- v-show -->
        <h2 @mouseover="textoAjuda = true" v-on:mouseout="textoAjuda = false"> Passe o Mouse aqui para exibir a ajuda! </h2>
        <div v-show="textoAjuda">
            <h3> Está precisando de ajuda? </h3>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae dolore quae quas aliquam magnam hic. Voluptatem porro voluptatum tenetur quod nostrum provident? Eveniet assumenda laborum repudiandae quaerat explicabo reiciendis cupiditate.</p>
        </div> 
        <hr>

        <!-- Renderização de elementos HTML com v-html (existe o v-text que faz a mesma coisa que o innerText)-->
        <div v-html="htmlLink"> </div>
    </div>

    <br><hr><br>

    <div id="app3">
        <!-- v-once para parar a renderização de elementos (a partir da primeira vez que é renderizado)-->
        <h3 v-once> Saldo Inicial: {{ saldo }}</h3>
        <h3> Saldo Atual: {{ saldo }}</h3> <br>
        <input type="text" id="newValue"> 
        <button v-on:click="creditar()"> Creditar </button>
        <button v-on:click="debitar()"> Debitar </button>
        <hr>

        <!-- v-for e laços de repetição -->
        <ul>
            <li v-for="(item, key) in cursos"> {{ item }} - {{ key }} </li>
        </ul>
        <hr>

        <!--  v-for e laços em objetos -->
        <table border="1">
            <thead>
                <tr>
                    <th> ID </th>
                    <th> Nome </th>
                    <th> Descrição </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item, key in cursos2">
                    <td> {{ key }} </td>
                    <td> {{ item.nome }} </td>
                    <td> {{ item.descricao }} </td>
                </tr>
            </tbody>
        </table>
        <hr>

        <!-- renderização de listas com atributo Key (vinculando um elemento e esses filhos atravez de um id) -->
        <ul>
            <li v-for="item in cursos3" v-bind:key="item.id">
                 {{ item.nome }}
                 <input type="text">
                 <br>
            </li>
            <button v-on:click="embaralhar()"> Embaralhar lista </button>
        </ul>
        <hr>

        <!-- renderização automatica (reatividade) de novos elementos de uma lista após a pagina já ter sido carregada (usando o próprio push do JS)-->
        <ul>
            <li v-for="item in noticias"> {{ item.id }} - {{ item.noticia }}</li>
        </ul>
        <div>
            Nova noticia: <br>  
            <input type="number" id="targetIdList"> <br>
            <input type="text" id="targetNoticiaList"> <br>
            <button @click="adicionarNaLista()"> Adicionar </button>
        </div> <br>
        <div>
            Update noticia: <br>  
            <input type="number" id="targetIdListUpdate"> <br>
            <input type="text" id="targetNoticiaListUpdate"> <br>
            <button @click="updateNaLista()"> Atualizar </button>
        </div>
    </div>

    <br><hr><br>

    <div id="app4">
        <!-- v-model, serve para sincronizar os dados do Vue com o template, e os dados do template com os dados do Vue-->
        <span> Paciente: </span> {{ paciente }} <br>
        <input type="text" v-model="paciente">
        <hr>

        <!-- watch para assistir as mudanças em cima de um template e executar funções sobre esses atributos -->
        <span> Busque por pessoas: </span>
        <input type="text" v-model="pessoa"> <br>
        <span> Resultado da busca: </span> <br>
        <ul>
            <li v-for="item in listaPesquisa"> {{ item.nome }} </li>
        </ul>

    </div>
    <script>
        new Vue({
            el: '#app4',
            data: {
                paciente: 'Isac Fernandes',
                pessoa: '',
                pessoas: [
                    {nome: 'Isac', idade: 19},
                    {nome: 'João', idade: 22},
                    {nome: 'Pedro', idade: 32},
                    {nome: 'Marcia', idade: 25},
                    {nome: 'Joana', idade: 37},
                    {nome: 'Maria', idade: 49}
                ],
                listaPesquisa: []
            },
            methods: { },
            watch: {
                pessoa(valorNovo, valorAntigo) {
                    //console.log(valorNovo, valorAntigo)
                    this.listaPesquisa = this.pessoas.filter(p => p.nome.match(valorNovo))
                }
            }

        })

        new Vue({
            el: '#app3',
            data: {
                saldo: 8900,
                cursos: ['Laravel', 'ReactJS', 'VueJS', 'Flask'],
                cursos2: {
                    1000: {
                        nome: 'Laravel',
                        descricao: 'Excelente framework back-end!'
                    },
                    1001: {
                        nome: 'VueJS',
                        descricao: 'Excelente framework front-end!'
                    },
                    1002: {
                        nome: 'IonicJS',
                        descricao: 'Excelente frameword para dev mobile!'
                    }
                },
                cursos3: [
                    {
                        id: 1,
                        nome: 'Python',
                        nivel: 'Pleno'
                    },
                    {
                        id: 2,
                        nome: 'JavaScript',
                        nivel: 'Senior'
                    },
                    {
                        id: 3,
                        nome: 'PHP',
                        nivel: 'Junior'
                    }
                ],
                noticias: [
                    {id: 1, noticia: 'qualquer coisa'},
                    {id: 2, noticia: 'isac gatin'},
                    {id: 3, noticia: 'logo dev junior'}
                ]
            },
            methods: {
                creditar: function() {
                    this.saldo += parseFloat(newValue.value)
                },
                debitar: function() {
                    this.saldo -= parseFloat(newValue.value)
                },
                embaralhar: function() {
                    let misturado = []

                    misturado[0] = this.cursos3[2]
                    misturado[1] = this.cursos3[0]
                    misturado[2] = this.cursos3[1]

                    this.cursos3 = misturado
                },
                adicionarNaLista: function() {
                    this.noticias.push({
                        id: targetIdList.value,
                        noticia: targetNoticiaList.value
                    })
                },
                updateNaLista: function()  {

                    this.$set(
                        this.noticias,
                        parseFloat(targetIdListUpdate.value) - 1,
                        {
                        id: targetIdListUpdate.value,
                        noticia: targetNoticiaListUpdate.value
                        }
                    )
                }
            }
        })

        new Vue({
            el: '#app2',
            data: {
                saldo: 100.0,
                exibir: false,
                idade: 0,
                textoAjuda: false,
                htmlLink: '<h3><a href="https://google.com" target="_blank">Google aqui</a></h3>'
            },
            methods: {
                setIdade: function() {
                    this.idade = idade.value
                },
                exibirSaldo: function() {
                    this.exibir = checkboxel.checked
                },
                selecionarFilhoDeInstancia: function() {
                    console.log(selectChoice)
                }
            }
        })

        new Vue({
            el: '#app1',
            data: { 
                n1: 10,
                n2: 5,
                site: ['https://google.com', 'blank'],
                place: ['condição 1', 'condição 2'],
                check: true,
                cliques: 0,
                textoDigitado: ''
            },
            methods: {
                capturaTeclas: function(event) {
                    this.textoDigitado += event.key
                },
                aoClicar: function(event) {
                    //event.preventDefault()
                    this.cliques++
                },
                imprime:  function(text) {
                    console.log('digitado', text)
                },
                popUp: function(event) {
                    alert('você clicou!')
                    console.log(event)
                },
                somar: function somar() {
                    return this.n1 + this.n2
                },
                subtrair: function() {
                    return this.n1 - this.n2
                },
                dividir: () => {
                    return this.n1 / this.n2 //NaN por contexto léxico
                },
                multiplicar() {
                    return this.n1 * this.n2
                }
            }
        });
    </script>
</body>
</html>